<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LogName">sample</Property>
        <Property name="LayoutPattern">%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5p] [%t] %C{1.} %M (%L) : %m%n%throwable</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LayoutPattern}" disableAnsi="false"/>
        </Console>

        <RollingFile name="RollingFile"
                     fileName="/DATA/${LogName}_log/${LogName}.log"
                     filePattern="/DATA/${LogName}_log/${LogName}_%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout pattern="${LayoutPattern}" disableAnsi="false"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="30" fileIndex="min"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>

        <Logger name="kr.co.gravity" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <Logger name="jdbc" level="off" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="jdbc.sqlonly" level="off" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="jdbc.resultsettable" level="off" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
    </Loggers>
</Configuration>
